*{
      margin: 0;
      padding: 0;
}
body{
      width: 100%
}

.hero-header{
      /* background-image: url(../Images/1.jpg); */
      /* height: 100vh; */
      background-repeat: no-repeat;
      background-size: cover;
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/m_img/1.jpg);
}
.logo{
      width: 150px;
}
.navigation{
      display: flex;
      justify-content: flex-end;
      /* margin: 20px; */
      position: relative;
      margin-left: 55px;
      /* padding: 35px 0; */
      font-size: 18px;
      /* font-family: 'Montserrat', sans-serif; */
      color: #FFFFFF !important;
      text-transform: uppercase;
      font-weight: 500;
      outline: none;
      transition: .5s;
}
.navigation ul{
      /* padding: 10px; */
      margin: 0 20px;
}
.navigation ul li{
      padding: 10px;
}
.navigation ul li a{
      font-family: 'Montserrat', sans-serif;
      color: black;
      
}
.navigation .nav-link a:hover{
      color: #911b1b;
}
.login{
      background: chocolate;
      border-radius: 15px;
}
.login:hover{
      background: rgb(0, 119, 255);
}
.register{
      background: brown;
      border-radius: 15px;
}
.register:hover {
      background: cadetblue;
}


.left-paragraphy h1{
      font-weight: bold;
      color: #FFFFFF;
}
.left-paragraphy p{
      color: #FFFF;
      font-size: medium;
}
.left-paragraphy .btn{
      background-color: rgb(238, 115, 0);
      font-weight: bold;
      color: #FFFFFF;
}

.banner{
      /* display: flex; */
      /* justify-content:center; */
      text-align: center;
      /* margin: 20px 0; */
      
}
.banner h1{
      margin: 20px 0;
      padding: 30px 0;
      font-family: 'Fasthand', cursive;
      font-weight: bold;
      font-size: 56px;
}
.banner h3{
      padding: 20px 60px;

}
.row{
      width: 100%;
      
}
.row img{
      width:70%;
      /* border-radius: 100%; */
      padding: 20px 0;
      
}
.row p{
      padding: 20px 0 0 0;
      font-size: 18px;
}

.icon p{
      display: inline-block;
      color: black;
}
.icon:hover{
      background-color: #897661aa;
      border-radius: 10px;
}

.collection{
      padding: 40px 0;
      background-color: white;
}
.collection h2{
      /* margin: 20px 0 0 0; */
      font-size: 56px;
      font-family: 'Fasthand', cursive;
      /* font-weight: bold; */
      text-align: center;
}
.collection p{
      font-size: 18px;
      text-align: center;
      padding: 20px 0;
      
}
.collection h3{
      padding: 20px 50px;
}
.img-gr{
      /* display: flex; */
      /* justify-content: center; */
      /* direction: row; */
      /* width: 100%; */
      /* position: relative; */
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: 0px 40px;
}
.img-gr .card-body:hover{
      background-color: rgb(120, 146, 169);
}
.card img{
      width: 80%;
      
      
}
.card p{
      display: inline-block;
      color: black;
}

.feedback{
      background-repeat: no-repeat;
      background-size: cover;
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/m_img/5.jpg);
      height: 100%;
      padding: 60px 0;
}
.form-grp{
      /* width: 100%; */
      margin: 0px 90px;
}

.feedback .form-grp .form-label, .feedback .form-grp .form-check{
      color: white;
      font: 18px;
}



/* Coffee Home */
.container{
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding:25px 20px;
    }
    
    .container .heading{
      font-size: 40px;
      margin-bottom: 20px;
      color:#334;
    }
    
    .container .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap:20px;
    }
    
    .container .box-container .box{
      background-color: #6aa3908c;
      padding:20px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      display: none;
    }
    
    .container .box-container .box:nth-child(1),
    .container .box-container .box:nth-child(2),
    .container .box-container .box:nth-child(3){
      display: inline-block;
    }
    
    .container .box-container .box .image{
      margin-bottom: 20px;
      overflow: hidden;
      height: 250px;
      border-radius: 5px;
    }
    
    .container .box-container .box .image img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .container .box-container .box:hover .image img{
      transform: scale(1.1);
    }
    
    .container .box-container .box .content h3{
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
      color:rgb(0, 0, 0);
    }
    
    .container .box-container .box .content p{
      font-size: 18px;
      font-family: 'Dosis', sans-serif;
      font-weight: bold;
      color:#202020;
      line-height: 2;
      padding:15px 0;
    }
    
    .container .box-container .box .content .btn{
      display: inline-block;
      padding:10px 30px;
      font-family: 'Ubuntu', sans-serif;
      border:1px solid #334;
      color:#334;
      font-size: 16px;
    }
    
    .container .box-container .box .content .btn:hover{
      background-color: crimson;
      border-color: crimson;
      color:#fff;
    }
    
    .container .box-container .box .content .icons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 15px;
      border-top:1px solid #334;
    }
    
    .container .box-container .box .content .icons span{
      font-size: 14px;
      color:#777;
    }
    
    .container .box-container .box .content .icons span i{
      color:crimson;
      padding-right: 5px;
    }
    
    #load-more{
      margin-top: 20px;
      display: inline-block;
      padding:13px 30px;
      border:1px solid #334;
      color:#334;
      font-size: 16px;
      background-color: #fff;
      cursor: pointer;
    }
    
    #load-more:hover{
      background-color: crimson;
      border-color: crimson;
      color:#fff;
    }
    
    @media (max-width:450px){
    
      .container .heading{
        font-size: 25px;
      }
    
      .container .box-container{
        grid-template-columns: 1fr;
      }
    
      .container .box-container .box .image{
        height: 200px;
      }
    
      .container .box-container .box .content p{
        font-size: 12px;
      }
    
      .container .box-container .box .content .icons span{
        font-size: 12px;
      }
    
    }