{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sign Up</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
      
      <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
          
          <header>Login</header>
          <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" class="col-md-12" placeholder="Enter your email">
            <input type="password" name="password" class="col-md-12" placeholder="Enter your password">
            <!-- <a href="#">Forgot password?</a> -->
            <input type="submit" class="button" value="Login">
            {{msg}}
          </form>
          <div class="signup">
            <span class="signup">Don't have an account?
             <a href="{% url 'UserRegisterView' %}">Signup</a>
            </span>
          </div>
        </div>
      </div>

</body>
</html>